<section class="projects_birkenstock">

	<div class="introduction">
		<div class="inner_container">
			<h1><span class="letter">B</span><span class="letter">i</span><span class="letter">r</span><span class="letter">k</span><span class="letter">e</span><span class="letter">n</span><span class="letter">s</span><span class="letter">t</span><span class="letter">o</span><span class="letter">c</span><span class="letter">k</span></h1>
			<p>2016 | Freelance Project</p>
		</div>
	</div>

	<div class="content">
		<div class="inner_container">
			<div class="header">
				<a routerLink="/projects" class="link">< All Projects</a>
			</div>
			<div class="body">
				<img src="../../assets/images/ILLU_project_birkenstock_1.jpg" alt="Computer and phone with the birkenstock website open">
				<p>In 2016, I decide with the help of one of my friend to start a freelancer association in order to start gaining experience with client interaction. Few months later via this association we started working with a Birkenstock retailer from the iconic Bondi Beach. This client did not have any digital presence except social media. With the client we defined the needs and objectives for this website to reach.</p>
				<img src="../../assets/images/ILLU_project_birkenstock_2.jpg" alt="Computer and phone with the birkenstock website open">
				<p>In order to keep the trust of the user the choice was made to keep the graphic chart of the Birkenstock shoe brand as a base. But in order to fit the particular location, Bondi Beach, we integrated with some elements of beach, sun & ocean. The real challenge was for us to find the right balance between these two different universes</p>
				<img src="../../assets/images/ILLU_project_birkenstock_3.jpg" alt="Computer and phone with the birkenstock website open">
				<p>Code igniter was chosen as base, because of it’s flexibility and efficiency. On top of that javascript was used to bring dynamism and interaction, the shoe filter is a good example of this interaction as it updates automatically the result when new filters are added. Some APIs have also been connected such as Mailchimp to help retaining the user alongside their visits. A big part of this website is actually not visible by the general user, in order to keep track of the shoes, collections and blog post a fully personalised backend has been build letting the employee update and manager the website by themselves.</p>
				<div class="link_container">
					<externalurl [url]="'http://www.birkenstockbondibeach.com.au/'">Visit Website</externalurl>
				</div>
			</div>
			<div class="footer">
				<div class="team">
					<div class="team_header">
						<h4>Team</h4>
					</div>
					<div class="team_body">
						<ul>
							<li style="background-image: url('../../assets/images/ICO_gautier.jpg');"></li>
						</ul>
					</div>
				</div>
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li>
								<img src="../../../assets/images/ICON_illustrator.svg" alt="Illustrator">
								<span class="tooltype">Illustrator</span>
							</li>
							<li>
								<img src="../../../assets/images/ICON_photoshop.svg" alt="Photoshop">
								<span class="tooltype">Photoshop</span>
							</li>
							<li>
								<img src="../../../assets/images/ICON_invision.svg" alt="Invision">
								<span class="tooltype">Invision</span>
							</li>
							<li>
								<img src="../../../assets/images/ICON_codeigniter.svg" alt="Code Igniter">
								<span class="tooltype">Code Igniter</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>