<section class="projects_birkenstock">

	<div class="introduction">
		<div class="inner_container">
			<h1><span class="letter">B</span><span class="letter">i</span><span class="letter">r</span><span class="letter">k</span><span class="letter">e</span><span class="letter">n</span><span class="letter">s</span><span class="letter">t</span><span class="letter">o</span><span class="letter">c</span><span class="letter">k</span></h1>
			<p>2016 | Freelance Project</p>
		</div>
	</div>

	<div class="content">
		<div class="inner_container">
			<div class="header">
				<a routerLink="/projects" class="link"><span class="icon"></span> All Projects</a>
			</div>
			<div class="body">
				<img src="../../assets/images/ILLU_project_birkenstock_1.jpg" alt="Computer and phone with the birkenstock website open">
				<p>One of the things I love about design is the ability to work as a Freelancer and test your skills in front of a genuine audience. Even if today I mostly focus my time on personal projects, I’ve done freelance work all over my studies and at the beginning of my career. In 2016, I started working with a Birkenstock retailer located at the iconic Bondi Beach in Sydney. At that time this client did not have any digital presence except on social media. So we spend our first few meetings to define her needs and her objectives for the website.</p>
				<img src="../../assets/images/ILLU_project_birkenstock_2.jpg" alt="Computer and phone with the birkenstock website open">
				<p>When we knew toward witch goal we were working, and had approved the scope of the website, I started working on the wireframe. I then merged the branding of Birkenstock with the iconic beach location of Bondi. It was challenging to find a balance between the 2 quite drastically opposite sides, but once we did, we knew it was the right choice. And because I was working for this one shop retailer, I had the freedom to push some of my ideas forward and keep a minimalist feel to it.</p>
				<img src="../../assets/images/ILLU_project_birkenstock_3.jpg" alt="Computer and phone with the birkenstock website open">
				<p>I decide to develop the project with CodeIgniter, because I already had a knowledge with this platform and I knew it would fit this project nicely. I spend quite some time playing around with javascript in order to obtain the interactions I was looking for. The shoe filter is a good example of this. But a big part of this project is hidden as the backend. My first intention was to use an already-made backend in order to save time. But none of them was fitting my requirement, and they all feel bulky to use. So I design and build my own backend, based on Ajax and CodeIgniter. This allowed the retail staff to update the website by themselves without any training.</p>
				<div class="link_container">
					<externalurl [url]="'http://www.birkenstockbondibeach.com.au/'">Visit Website</externalurl>
				</div>
			</div>
			<div class="footer">
				<div class="team">
					<div class="team_header">
						<h4>Team</h4>
					</div>
					<div class="team_body">
						<ul>
							<li style="background-image: url('../../assets/images/avatar/ICO_gautier.jpg');"></li>
						</ul>
					</div>
				</div>
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li>
								<img src="../../../assets/images/tools/ICON_illustrator.svg" alt="Illustrator">
								<span class="tooltype">Illustrator</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_photoshop.svg" alt="Photoshop">
								<span class="tooltype">Photoshop</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_invision.svg" alt="Invision">
								<span class="tooltype">Invision</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_codeigniter.svg" alt="Code Igniter">
								<span class="tooltype">Code Igniter</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>