<section class="projects_carrott">

	<div class="breadcrumb">
		<a routerLink="{{back_details.link}}" class="link"><span class="icon"></span> {{back_details.title}}</a>
	</div>

	<animated-title title="carrott" subtitle="2017 | Work Project | Team Project" color="orange"></animated-title>

	<div class="content">
		<div class="inner_container">
			<div class="body">
				<img src="../../assets/images/ILLU_project_carrott_1.jpg" alt="Hand holding the carrott phone app.">
				<p>During my 3 years at Experience Digital, I had the chance to work as team lead on the  design and development of a mobile application. The application named Carrott was a micro-savings app that rounds up loose change of your everyday purchases. Once you reach $5, Carrott debits that money from your account to put them in your saving account. The project was especially exciting for me as I had a decisive voice on everything around the design and development of the project. Which allows me to push forward what I believe was the most valuable for the user.</p>
				<img src="../../assets/images/ILLU_project_carrott_2.jpg" alt="People using the carrott phone app.">
				<p>When we first start the project we realised that the real challenge for Carrott would be to bring interest in a concept who look boring at first sight. The app in itself doesn’t need much interaction from the user perspective. Once the signup is complete the app work in background to round up the user’s expenses and transfer the money. To create some interactions we decide to differentiate ourselves by using notifications as our principal communication medium. We used them to inform our users about their daily and weekly savings, as well as every transaction we saved. The app itself was essentially used as a financial dashboard.</p>
				<img src="../../assets/images/ILLU_project_carrott_3.jpg" alt="Hand holding the carrott phone app.">
				<p>We decided to use Ionic for this project. Ionic is a mobile SDK based on Angular.js. It allows us to develop an application for both Android and IOS using a single code base. Thank to that we’ve been able to deliver a first minimal viable product only 2 months after the start of the project. This was nowhere near the final product, but it allows us to test with real users. Then, with regular update we improved every part of the app, with the green light of our users.</p>
			</div>
			<div class="footer">
				<div class="team">
					<div class="team_header">
						<h4>Team</h4>
					</div>
					<div class="team_body">
						<ul>
							<li style="background-image: url('../../assets/images/avatar/ICO_sophie.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_wittawin.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_ihsan.jpg');"></li>
						</ul>
					</div>
				</div>
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li>
								<img src="../../../assets/images/tools/ICON_illustrator.svg" alt="Illustrator">
								<span class="tooltype">Illustrator</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_angular.svg" alt="Angular.js">
								<span class="tooltype">Angular.js</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_ionic.svg" alt="Ionic">
								<span class="tooltype">Ionic</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>