<section class="projects_carrott">

	<div class="introduction">
		<div class="inner_container">
			<h1><span class="letter">C</span><span class="letter">a</span><span class="letter">r</span><span class="letter">r</span><span class="letter">o</span><span class="letter">t</span><span class="letter">t</span></h1>
			<p>2017 | Work Project | Team Project</p>
		</div>
	</div>

	<div class="content">
		<div class="inner_container">
			<div class="header">
				<a routerLink="/projects" class="link">< All Projects</a>
			</div>
			<div class="body">
				<img src="../../assets/images/ILLU_project_carrott_1.jpg" alt="Hand holding the carrott phone app.">
				<p>Carrott is a micro-savings app that helps people contribute a few dollars extra to your superannuation. Carrott rounds up any 'lazy cash' (loose change) you may have from your everyday purchases, even if it's just a few cents. Once your lazy cash round up reaches over $5, Carrott debits that lazy money from your account. Then Carrott consolidate all those direct debits and put them into your superannuation account.</p>
				<img src="../../assets/images/ILLU_project_carrott_2.jpg" alt="People using the carrott phone app.">
				<p>When we first start the project we realised than the real challenge for Carrott would be to bring attract and interest to a concept who look boring a the first sight. The app in itself doesn’t need much interaction for the user perspective. Once the sign up complete the app work in background to round up the user expense and transfer the money. To create some interactions we decide to differentiate ourself from the competitor by some bright gradient and a light font. The app notifications was used as our principal medium to communicate with the user to inform him about his daily/weekly savings while the app was essentially used as a finance dashboard from the global saving activity.</p>
				<img src="../../assets/images/ILLU_project_carrott_3.jpg" alt="Hand holding the carrott phone app.">
				<p>To fit the iterative process put in place by the design, we decided to use a brand new technology called Ionic. Ionic is mobile SDK who use Angular 2 to develop an application for both Android and IOS using a singular base of code. Thank to that we’ve been able to focus our team on a first minimal viable product released only two months later to then bring update regularly following the new demand of the client.</p>
				<!-- <div class="link_container">
					<externalurl [url]="'https://itunes.apple.com/au/app/carrott/id1276475292?ls=1&mt=8'">See on the App Store</externalurl>
					<externalurl [url]="'https://play.google.com/store/apps/details?id=com.carrottslc.carrott'">See on the Play Store</externalurl>
				</div> -->
			</div>
			<div class="footer">
				<div class="team">
					<div class="team_header">
						<h4>Team</h4>
					</div>
					<div class="team_body">
						<ul>
							<li style="background-image: url('../../assets/images/ICO_sophie.jpg');"></li>
							<li style="background-image: url('../../assets/images/ICO_wittawin.jpg');"></li>
							<li style="background-image: url('../../assets/images/ICO_ihsan.jpg');"></li>
						</ul>
					</div>
				</div>
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li>
								<img src="../../../assets/images/ICON_illustrator.svg" alt="Illustrator">
								<span class="tooltype">Illustrator</span>
							</li>
							<li>
								<img src="../../../assets/images/ICON_angular.svg" alt="Angular.js">
								<span class="tooltype">Angular.js</span>
							</li>
							<li>
								<img src="../../../assets/images/ICON_ionic.svg" alt="Ionic">
								<span class="tooltype">Ionic</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>