<section class="projects_qimaone">

	<div class="breadcrumb">
		<a routerLink="{{back_details.link}}" class="link"><span class="icon"></span> {{back_details.title}}</a>
	</div>

	<animated-title title="qimaone" subtitle="2020-2022 | Work Projects | Team Projects" color="orange"></animated-title>

	<div class="content">
		<div class="inner_container">
			<div class="body">
				<video class="video-defect" controls >
					<source src="../../assets/videos/Qima_Toolbox.mp4" type="video/mp4">
					Sorry, your browser doesn't support embedded videos.
				</video>
				<h3>Inspector's toolbox</h3>
				<p>Over the course of an inspection an inspector might need to access product specification and specific tools. We notice though Analytics that this back and fourth was time consuming for our mobile user (our widescreen user had both information side by side). So we decided to update our toolbox to offer this information at a fingertip. We took this opportunity to also include some of our tools (camera, chronometer and general remark) there too.</p>
				<span class="separator"></span>

				<video class="video-defect" controls >
					<source src="../../assets/videos/Qima_planninginspector.mp4" type="video/mp4">
					Sorry, your browser doesn't support embedded videos.
				</video>
				<h3>Inspector's planning management</h3>
				<p>To best help our inspectors doing their job we also had to improve their coordinator tools. And one of the big challenges was (and still is) to make sure the right inspector is allocated to the right inspection. For that to happen the coordinator needs to know the inspector's skill set, location, agenda and seniority level. So after a few interviews and shadow inspections, we decided to build with our coordinator a dashboard that would give them all of the required information inside the same page.</p>
				<span class="separator"></span>

				<video class="video-defect" controls >
					<source src="../../assets/videos/Qima_voicecontrol.mp4" type="video/mp4">
					Sorry, your browser doesn't support embedded videos.
				</video>
				<h3>Measurement voice recogniton</h3>
				<p>For a garment's inspection the measurement part is probably where you will spend the most time. Each item need to be measured on few important places, by hand, to ensure conformity. As we design the system to be mobile first, our data-scientist team had this idea of using voice recognition to capture the measure as the inspector was taking them. This was the very first iteration that we use to run usertest in some key factories. Since then, some improvment were brought to the AI model to allow recognition event with the noisy environment of a factory.</p>
				<span class="separator"></span>

				<video class="video-defect" controls >
					<source src="../../assets/videos/Qima_defectfilter.mp4" type="video/mp4">
					Sorry, your browser doesn't support embedded videos.
				</video>
				<h3>Inspector's Defect filters</h3>
				<p>Depending on the type of the product you might want to inspect an inspector might be dealing between a few dozen to a few hundred different defects. I was task to work with them on the best way to organize these defects. After a dozen or so interviews and a few quick iterations we settled on a 3 features. An improved search who would use elastic search capability to help the right defect come on top. A collapsing defect categories that allow our client to organize their defect and our inspector to quickly scroll through them. Finally, some custom tags that would allow cross category sorting.</p>
				<span class="separator"></span>

<!-- 				<video class="video-defect" controls >
					<source src="../../assets/videos/Qima_Measurements.mp4" type="video/mp4">
					Sorry, your browser doesn't support embedded videos.
				</video>
				<h3>Measurement</h3>
				<p>To reach our objectives, we divided the project in two parts. First a vision to represent the future of the project in five to ten years. Then secondly a pilot, integrated in a building already in construction and completed by the end of 2015. Both parts of this project were terribly exciting. For the vision, we were building partnership, exploring potential business model and researching future services. For the pilot, we were hand on (as much as a designer can be), in contact with the contractor to make things happen.</p>
				<span class="separator"></span> -->

			</div>
			<div class="footer">
<!-- 				<div class="team">
					<div class="team_header">
						<h4>Team</h4>
					</div>
					<div class="team_body">
						<ul>
							<li style="background-image: url('../../assets/images/avatar/ICO_raphaelle.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_elodie.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_thomas.jpg');"></li>
						</ul>
					</div>
				</div> -->
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li>
								<img src="../../../assets/images/tools/ICON_origami.svg" alt="Origami studio">
								<span class="tooltype">Origami studio</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_figma.svg" alt="Figma">
								<span class="tooltype">Figma</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>