<section class="projects_freelancer_library">

	<div class="breadcrumb">
		<a routerLink="/projects" class="link"><span class="icon"></span> All Projects</a>
	</div>

	<div class="introduction">
		<div class="inner_container">
			<h1><span class="letter">F</span><span class="letter">r</span><span class="letter">e</span><span class="letter">e</span><span class="letter">l</span><span class="letter">a</span><span class="letter">n</span><span class="letter">c</span><span class="letter">e</span><span class="letter">r</span><span class="letter" style="width: 25px;"></span><span class="letter">B</span><span class="letter">r</span><span class="letter">o</span><span class="letter">w</span><span class="letter">s</span><span class="letter">e</span><span class="letter" style="width: 25px;"></span><span class="letter">P</span><span class="letter">r</span><span class="letter">o</span><span class="letter">j</span><span class="letter">e</span><span class="letter">c</span><span class="letter">t</span></h1>
			<p>2018 | Work Project | Team Project</p>
		</div>
	</div>

	<div class="content">
		<div class="inner_container">
			<div class="body">
				<img src="../../assets/images/ILLU_project_browse_1.jpg" alt="Freelancer.com project cards">
				<p>Freelancer.com browse project page is the 2nd most visited page on the website, with its average 300k monthly views. It was the single most complex page I had to work on. And yet when you look at it the page seems deadly simple. A list of project card and a choice of filters. The difficulties lays on its high traffic, forcing every single choice had to be a conscious one, backed up by surveys, interviews and testing.</p>
				<img src="../../assets/images/ILLU_project_browse_2.jpg" alt="Freelancer.com bid cards">
				<p>When we started this project Freelancer.com had 6 different versions of the same page. Over the 10 years, duplicate version of this page had been built, either adding a new feature or trying to solve something. And it comes without saying, they were all different. So we listed all of their features, our competitor features, and the feature we had from interviews and survey we sent over time. Then we sent a new survey to 30k users asking them to rank these features. We learned that the description was the most important component of the page. Far above the price or any other feature.</p>
				<img src="../../assets/images/ILLU_project_browse_3.jpg" alt="Freelancer.com freelancer card">
				<p>Once selected and ranked, we started putting these features together. Keeping in mind than if the card was too long, our user would see less project for the same scroll. But show too little, and a user might dismiss his perfect project. The card had to be simple enough to be understood by every user at first sight, and flexible enough to display any kind of project on any type of support. Less is more. At the end, we only had text, icon, upgrade tag and space.</p>
				<img src="../../assets/images/ILLU_project_browse_4.jpg" alt="Freelancer.com browse page">
				<p>And it worked, We were able to fit everything, keep all the features we wanted, following a clear hierarchy. We A/B test the page who showed a positive uplift from our user. They were staying longer, scrolling more and ultimately bidding more. Following this success we worked on updating the other similar card following the same structure. The freelancer profile card, the user review card, and few others. As a designer it was frustrating to spend so much time in so little, and when seeing the result it might seems like a 5 minute job by an intern, but as we say "Good design is invisible". It was for me a really fruitful exercise.</p>
			</div>
			<div class="footer">
				<div class="team">
					<div class="team_header">
						<h4>Team</h4>
					</div>
					<div class="team_body">
						<ul>
							<li style="background-image: url('../../assets/images/avatar/ICO_samantha.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_anne.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_christine.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_electra.jpg');"></li>
						</ul>
					</div>
				</div>
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li>
								<img src="../../../assets/images/tools/ICON_sketch.svg" alt="Sketch">
								<span class="tooltype">Sketch</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_abstract.svg" alt="Abstract">
								<span class="tooltype">Abstract</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
