/* IMPORTS */
@import "../../../assets/styles/ui_mixines";

/*
    PHONE VERSION
*/
section.about{
	min-height: 100vh;

	div.introduction{
		background: linear-gradient(to right, $light_yellow, $med_yellow);
		width: 100%;
		position: relative;
	
		&:after{
			content: "";
			position: absolute;
			bottom: 0px;
			left: calc(50vw - 4px);
			border-top: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #ffffff;
		}
		div.inner_container{
			@include container_sizing( 1000px );
			padding: 5vh 0;

			div.illustration{
				width: 75px;
				height: 75px;
				background-color: #f2f2f2;
				background: url('../../../assets/images/hello_this_is_me_alexandre.jpg');
				background-size: cover;
				background-position: center center;
				margin: 0 auto 10px;
				border-radius: 50%;
			}
			p{
				color: $white;
				width: 100%;
				text-align: center;
				font-weight: 400;
			}
		}
	}

	div.introduction_text{
		padding: 40px 0;

		div.inner_container{
			@include container_sizing( 800px );

			p{ @include primary_text( $dark_grey ); }
		}
	}
	
	div.history{
		div.inner_container{
			@include container_sizing( 400px );

			div.header{
				padding: 30px auto;
				h3{ @include secondary_title( $dark_grey ); }
			}
			div.body{
				border-left: 4px solid $light_yellow;
				
				ul{
					li{
						overflow: auto;
						margin: 40px auto;
						position: relative;
						padding-left: 30px;

						&:after{
							content: "";
							position: absolute;
							top: 20px;
							left: 3px;
							border-right: 0;
							border-top: 8px solid transparent;
							border-bottom: 8px solid transparent;
							border-left: 8px solid $light_grey;
						}
						div.left{
							width: 70px;
							float: left;

							h4{
								padding-top: 20px;
								color: $dark_grey;
								font-size: 1.2rem;
								font-weight: 800; 
							}
						}
						div.right{
							width: calc(100% - 70px);
							float: left;
							padding: 5px 0;

							p{
								&.timeline_header{
									color: $dark_grey;
									font-size: .8rem;
									font-weight: 400; 
								}
								&.timeline_body{
									color: $dark_grey;
									font-size: 1.2rem;
									font-weight: 800;
									margin: 10px 0 5px;
								}
								&.timeline_footer{
									color: #adadad;
									font-size: .8rem;
									font-weight: 400;

									b{
										font-weight: 800;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){
	section.about{
		div.introduction{
			&:after{}
			div.inner_container{
				div.illustration{}
				p{}
			}
		}
	
		div.introduction_text{
			div.inner_container{
				p{}
			}
		}
		
		div.history{
			div.inner_container{
				div.header{
					h3{}
				}
				div.body{
					ul{
						li{
							&:after{}
							div.left{
								h4{}
							}
							div.right{
								p{
									&.timeline_header{}
									&.timeline_body{}
									&.timeline_footer{
										b{}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}

/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}