<section class="about">

	<div class="introduction">
		<div class="inner_container">
			<div class="illustration"></div>
			<p>Alexandre Nicol</p>
		</div>
	</div>

	<div class="introduction_text">
		<div class="inner_container">
			<p>My name is Alexandre Nicol, I design & code. I am an interaction designer by study and a front-end developer by passion. During my 5 years of studies and internships, validated by a Master’s Degree, I acquired important technical and managerial skills in Ui & Ux design. In 2016 I started to use these this skills as a full time Digital Designer, and to enrich them with new front-end & mobile development one. Thanks to this dual set of skills I can mix graphical qualities and front-end understanding in order to provide an effective experience that will perfectly fit to the final user.</p>
		</div>
	</div>

	<div class="history">
		<div class="inner_container">
			<div class="header">
				<h3>History</h3>
			</div>
			<div class="body">
				<ul>
					<li>
						<div class="left">
							<h4>2018</h4>
						</div>
						<div class="right">
							<p class="timeline_header">Full time position at</p>
							<p class="timeline_body">Freelancer.com</p>
							<p class="timeline_footer">Current-Sydney focused on designing <b>Ui/Ux</b> following <b>User behavior</b>.</p>
						</div>
					</li>
					<li>
						<div class="left">
							<h4>2017</h4>
						</div>
						<div class="right">
							<p class="timeline_header">Full time position at</p>
							<p class="timeline_body">Experience Digital</p>
							<p class="timeline_footer">20 months-Sydney focused on <b>mobile & web app</b>, <b>website</b>.</p>
						</div>
					</li>
					<li>
						<div class="left">
							<h4>2015</h4>
						</div>
						<div class="right">
							<p class="timeline_header">Master’s Degree in </p>
							<p class="timeline_body">Interaction Design</p>
							<p class="timeline_footer">focused on <b>transcultural design</b>, <b>ui/ux design</b> and <b>iot</b>.</p>	
						</div>
					</li>
					<li>
						<div class="left">
							<h4>2015</h4>
						</div>
						<div class="right">
							<p class="timeline_header">Intership at</p>
							<p class="timeline_body">FaberNovel</p>
							<p class="timeline_footer">6 months-France focused on <b>ux design</b>, <b>iot</b>.</p>	
						</div>
					</li>
					<li>
						<div class="left">
							<h4>2013</h4>
						</div>
						<div class="right">
							<p class="timeline_header">Bachelor’s Degree in </p>
							<p class="timeline_body">Interaction Design</p>
							<p class="timeline_footer">focused on <b>ui/ux design</b> and <b>web-development</b>.</p>	
						</div>
					</li>
					<li>
						<div class="left">
							<h4>2013</h4>
						</div>
						<div class="right">
							<p class="timeline_header">Intership at</p>
							<p class="timeline_body">Arobase Communication</p>
							<p class="timeline_footer">6 months-China focused on <b>web-programming</b> & <b>print</b>.</p>
						</div>
					</li>
					<li>
						<div class="left">
							<h4>2012</h4>
						</div>
						<div class="right">
							<p class="timeline_header">Intership at</p>
							<p class="timeline_body">Les Polypodes</p>
							<p class="timeline_footer">3 months-France focused on <b>ui/ux design</b>.</p>
						</div>
					</li>
					<li>
						<div class="left">
							<h4>2011</h4>
						</div>
						<div class="right">
							<p class="timeline_header">Intergrated in the </p>
							<p class="timeline_body">Nantes school of design</p>
							<p class="timeline_footer">as a skilled upgrade class for applied art.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

</section>