<modal></modal>

<section class="home">
	<div class="introduction">
		<div class="content">
			<h1>{{introduction_sentence}},</h1>
			<p>My name is Alexandre Nicol, I design and I code. I am currently working in Lille, France for <externalurl [url]="'https://worldofdigits.com/'">World of Digits</externalurl>.</p>
		</div>
		<div class="stars">
			<div class="star level-1"></div>
			<div class="star level-3"></div>
		</div>
	</div>
	<div class="what_i_do">
		<div class="inner_container">
			<h3>This is what i do</h3>
			<div class="content">
				<div class="card">
					<div class="illustration"></div>
					<div class="text">
						<h6>Ux design</h6>
						<p>The reason I’m happy to go to work everyday. I love the challenges and the work of investigation needed to understand and build the perfect product.</p>
					</div>
				</div>
				<div class="card">
					<div class="illustration"></div>
					<div class="text">
						<h6>Ui design</h6>
						<p>My first love with design was the visuals. Nowadays all my designs are built for a purpose, but I love making sure they are always pleasant to use.</p>
					</div>
				</div>
				<div class="card">
					<div class="illustration"></div>
					<div class="text">
						<h6>Front-end development</h6>
						<p>This is a hobby of mine since high school. I love building apps and websites and having this set of skills helps me be a better designer.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="my_project">
		<div class="inner_container">
			<h3>These are my projects</h3>
			<div class="content">
				<div class="card" routerLink="/projects/freelancer-library">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_freelancerbits.svg" alt="Freelancer design Library">
					</div>
					<div class="text">
						<h6>Freelancer Design Library</h6>
						<p>As part of my rôle as product designer, I created a Design system for the Freelancer.com website. The goal was straight forward, add consistency this enormous website, save time for design and development.</p>
						<ul>
							<li>Sketch</li>
						</ul>
					</div>
				</div>
				<div class="card" routerLink="/projects/carrott">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_carrott.svg" alt="Carrott">
					</div>
					<div class="text">
						<h6>Carrott mobile application</h6>
						<p>Carrott was a great project to work on. I had the chance to be the lead designer and the lead front-end developer for the all project and see it move from concept to published app and then miserably fail because the business model was quite terrible.</p>
						<ul>
							<li>Adobe Illustrator</li>
							<li>Ionic</li>
						</ul>
					</div>
				</div>
				<div class="card" routerLink="/projects/freelancer-browse-project">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_freelancer.svg" alt="Freelancer browse Library">
					</div>
					<div class="text">
						<h6>Freelancer browse project</h6>
						<p>Probably one of the most interesting project I had worked on. These cards on the page browse project of Freelancer.com had to be designed in a way that would push talented freelancer to apply while moving away the spam freelancer.</p>
						<ul>
							<li>Sketch</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="my_experiment">
		<div class="inner_container">
			<h3>These are my experiments</h3>
			<div class="content">
				<div class="card" (click)="modal_service.open_modal('expat-manual')">
					<div class="illustration">
						<img src="../../../assets/images/experiments/expat-manual-bw.svg" alt="Expat Manual">
					</div>
					<div class="text">
						<h6>Expat Manual</h6>
						<p>Expat manual is a website entirely designed and build by myself. The goal was to offer a place for new comers to find information about a city (Sydney) lesser known than the classic touristic attraction.</p>
						<ul>
							<li>Angular</li>
							<li>Express</li>
							<li>Mongo DB</li>
						</ul>
					</div>
				</div>
				<div class="card" (click)="modal_service.open_modal('recipes')">
					<div class="illustration">
						<img src="../../../assets/images/experiments/recipe-bw.svg" alt="Recipe">
					</div>
					<div class="text">
						<h6>Recipes</h6>
						<p>Recipe is a website and mobile app I built to store all the recipes I stole from the New York Time recipe. Today I'm working to upgrade this project to be an online weekly organiser for families.</p>
						<ul>
							<li>Angular</li>
							<li>Ionic</li>
							<li>Express</li>
							<li>Mongo DB</li>
						</ul>
					</div>
				</div>
				<div class="card" (click)="modal_service.open_modal('bon-compte')">
					<div class="illustration">
						<img src="../../../assets/images/experiments/bon-compte-bw.svg" alt="Freelancer Library">
					</div>
					<div class="text">
						<h6>Bon Compte</h6>
						<p>This website & mobile application was built in a few weeks to manage our budgets while travelling Japan. It was build on the sole purpose to offer a Tricount product, but with enjoyable design.</p>
						<ul>
							<li>Angular</li>
							<li>Ionic</li>
							<li>Express</li>
							<li>Mongo DB</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>