/* IMPORTS */
@import "../../../assets/styles/ui_mixines";

/*
    MIXINE
*/
@function multiple-box-shadow( $nb_of_star ){
	$value: '#{random(2000)}px #{random(20000)}px rgba(255, 255, 255, .8)';

	@for $i from 2 through $nb_of_star {
		$value: '#{$value} , #{random(2000)}px #{random(2000)}px rgba(255, 255, 255, .8)';
	}

	@return unquote($value);
}

$shadows-small:  multiple-box-shadow(400);
$shadows-big:    multiple-box-shadow(100);

/*
    PHONE VERSION
*/
section.home{
	min-height: 100vh;
	z-index: 1;

	div.introduction{
		width: 100%;
		height: calc(70vh - 70px);
		position: relative;
		background-position: center center;
		overflow: hidden;

		span.background_image{
			background: radial-gradient(ellipse at bottom, rgba($light_grey, .9) 0%, rgba($med_grey, .9)) 100%, url('../../../assets/images/BG_intro_2.jpg');
			background-size: cover;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 100vh;
			z-index: 0;
		}
		canvas{
			position: absolute;
			z-index: 2;
		}
		div.stars{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;

			div.star{
				position: absolute;
				width: 100%;
				height: 100%;
				background: transparent;

				&:after{
					content: '';
					position: absolute;
					top: 2000px;
				}
				&.level-1{
					width: 1px;
					height: 1px;
					box-shadow: $shadows-small;
					animation: animation_star 70s linear infinite;

					&:after{
						width: 1px;
						height: 1px;
						box-shadow: $shadows-small;
					}
				}
				&.level-3{
					width: 2px;
					height: 2px;
					box-shadow: $shadows-big;
					animation: animation_star 100s linear infinite;

					&:after{
						width: 2px;
						height: 2px;
						box-shadow: $shadows-big;
					}
				}
			}
		}
		div.inner_container{
			@include container_sizing( 800px );
			padding: 70px 0;
			position: relative;
			z-index: 3;

			p{
				color: $white;
				font-size: 1.4rem;
				line-height: 1.8rem;
				max-width: 550px;

				externalurl{
					cursor: pointer;
					color: $med_yellow;
					transition: color 200ms; 

					&:hover{
						color: $light_yellow;
					}
				}
			}
		}
	}

	div.main{
		width: 100%;
		z-index: 1;
		position: relative;
		background-color: white;
		
		div.inner_container{
			@include container_sizing( 800px );
			padding: 70px 0;

			div.about{
				div.header{
					h3{
						@include secondary_title( $dark_grey );
						text-align: center;
					}
				}
				div.body{
					margin-top: 20px;
					
					p{ @include primary_text( $dark_grey ); }
				}
			}
			div.project{
				margin-top: 100px;
				div.header{
					h3{
						@include secondary_title( $dark_grey );
						text-align: center;
					}
				}
				div.body{
					ul{
						display: flex;
						flex-flow: row wrap;
						justify-content: space-around;
	
						li{
							max-width: 250px;
							margin: 20px 0;
							border-radius: 20px;
							min-height: 400px;
							cursor: pointer;
							box-shadow: 0px 0px 10px rgba($dark_grey, .3);
	
							&.carrott{
								background: linear-gradient(to top right, rgba(#FFE985, .8), rgba(#FA742B, .8)), url('../../../assets/images/project_thumb/BG_carrott.jpg');
								background-size: cover;
								background-position: center center;
	
								div.card_body{
									padding: -20px 20px 20px 20px;
		
									svg, img{
										width: 40px;
										display: block;
										margin: 30px auto 0; 
									}
								}
							}
							&.birkenstock{
								background: linear-gradient(to top right, rgba(#EE9AE5, .8), rgba(#5961F9, .8)), url('../../../assets/images/project_thumb/BG_birkenstock.jpg');
								background-size: cover;
								background-position: center center;
								
								div.card_body{
									padding: 30px 20px 20px 20px;
		
									svg, img{
										width: 200px;
										display: block;
										margin: 30px auto 0; 
									}
								}
							}
							&.pattern_library{
								background: linear-gradient(to top right, rgba(#52E5E7, .8), rgba(#130CB7, .8)), url('../../../assets/images/project_thumb/BG_freelancerlibrary.jpg');
								background-size: cover;
								background-position: center center;
	
								div.card_body{
									padding: 30px 20px 20px 20px;
		
									svg, img{
										width: 100px;
										display: block;
										margin: 10px auto 0; 
									}
								}
							}
							div.card_header{
								padding: 40px 30px 0 30px;
	
								h4{
									color: $dark_grey;
									font-size: 1.8rem;
									font-weight: 800; 
								}
								p{
									color: $dark_grey;
									font-size: 1.2rem;
									font-weight: 400;
									margin: 20px 0; 
								}
							}
						}
					}
				}
			}
			div.experiments{
				margin-top: 100px;

				div.header{
					h3{
						@include secondary_title( $dark_grey );
						text-align: center;
					}
				}
				div.body{
					ul{
						display: flex;
						flex-flow: row wrap;
						justify-content: space-around;
	
						li, externalurl{
							max-width: 250px;
							border: 3px solid #2B3554;
							border-radius: 20px;
							width: 100%;
							margin: 10px 0;
							min-height: 350px;
							height: 100%;
							position: relative;
							cursor: pointer;
		
							&.double{}
							div.illustraction{
								height: 250px;
								display: flex;
								align-items: center;
		
								img{
									width: 70%;
									max-height: 260px;
									display: block;
									margin: 0 auto;
								}
							}
							div.header{
								bottom: 0;
								position: absolute;
								padding: 20px;
								border-top: 3px solid #2B3554;
								width: calc(100% - 40px);
								
								h4{
									color: #2B3554;
									font-size: 20px;
		
								}
								div.tags{
									margin-top: 12px;
		
									span.tag{
										color: white;
										background-color: #2B3554;
										margin: 4px;
										border-radius: 20px;
										padding: 2px 10px;
										font-size: 14px;
										word-break: keep-all;
										display: inline-block;
		
										&:first-child{ margin-left: 0; }
										&:last-child{ margin-right: 0; }
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){
	section.home{
		div.introduction{
			div.inner_container{
				p{}
			}
		}
	
		div.main{
			div.inner_container{
				div.about{
					div.header{
						h3{ text-align: left; }
					}
					div.body{
						p{
							column-count: 2;
							column-gap: 20px;
						}
					}
				}
				div.project{
					div.header{
						h3{ text-align: left; }
					}
					div.body{
						ul{
							justify-content: space-between;
	
							li{
								width: 47%;
								max-width: inherit;
	
								&.carrott{
									div.card_body{
										svg, img{}
									}
								}
								&.birkenstock{
									div.card_body{
										svg, img{}
									}
								}
								&.lepetitbateau{
									width: 100%;

									div.card_body{
										svg, img{}
									}
								}
								div.card_header{
									h4{}
									p{}
								}
							}
						}
					}
				}
				div.experiments{	
					div.header{
						h3{ text-align: left; }
					}
					div.body{
						ul{
							justify-content: space-between;

							li, externalurl{
								width: calc(47% - 6px);
								max-width: inherit;

								&.double{
									width: calc(47% - 6px);
								}

								div.illustraction{
									img{}
								}
								div.header{
									h4{}
									div.tags{
										span.tag{
											&:first-child{}
											&:last-child{}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){
	section.home{
		div.introduction{
			height: calc(70vh - 70px);

			div.inner_container{
				p{}
			}
		}
	
		div.main{
			div.inner_container{
				div.about{
					div.header{
						h3{}
					}
					div.body{
						p{}
					}
				}
				div.project{
					div.header{
						h3{}
					}
					div.body{
						ul{
							li{
								width: 31%;
	
								&.carrott{
									div.card_body{
										svg, img{}
									}
								}
								&.birkenstock{
									div.card_body{
										svg, img{}
									}
								}
								&.lepetitbateau{
									width: inherit;
									width: 31%;

									div.card_body{
										svg, img{}
									}
								}
								div.card_header{
									h4{}
									p{}
								}
							}
						}
					}
				}
				div.experiments{	
					div.header{
						h3{}
					}
					div.body{
						ul{
							justify-content: space-between;

							li, externalurl{
								width: 31%;

								&.double{
									width: 65%;
								}
								
								div.illustraction{
									img{}
								}
								div.header{
									h4{}
									div.tags{
										span.tag{
											&:first-child{}
											&:last-child{}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}

/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){
section.home{
		div.introduction{
			height: calc(50vh - 70px);
			div.inner_container{
				p{}
			}
		}
	
		div.main{
			div.inner_container{
				div.about{
					div.header{
						h3{}
					}
					div.body{
						p{}
					}
				}
				div.project{
					div.header{
						h3{}
					}
					div.body{
						ul{
							li{
								width: 33%;
	
								&.carrott{
									div.card_body{
										svg, img{}
									}
								}
								&.birkenstock{
									div.card_body{
										svg, img{}
									}
								}
								&.lepetitbateau{
									div.card_body{
										svg, img{}
									}
								}
								div.card_header{
									h4{}
									p{}
								}
							}
						}
					}
				}
			}
		}
	}
}

@keyframes animation_star{
  from {
  	transform: translateY(0px);
  }
  to {
  	transform: translateY(-2000px);
  }		
}