/* IMPORTS */
@import "../../../assets/styles/ui_mixines";

/*
	MIXINE
*/
@function multiple-box-shadow( $nb_of_star ){
	$value: '#{random(2000)}px #{random(20000)}px rgba(255, 204, 109, 1)';

	@for $i from 2 through $nb_of_star {
		$value: '#{$value} , #{random(2000)}px #{random(2000)}px rgba(255, 204, 109, 1)';
	}

	@return unquote($value);
}

$shadows-small:  multiple-box-shadow(400);
$shadows-big:    multiple-box-shadow(100);

/*
	PHONE VERSION
*/
section.home{
	z-index: 1;

	div.introduction{
		@include container_sizing( 800px );
		position: relative;

		div.content{
			z-index: 3;
			position: relative;
			padding: 200px 0;
	
			h1{
				font-family: "colus";
				color: $med_blue;
				font-size: 24px;
				width: auto;
				max-width: 500px;
			}
			p{
				color: $med_blue;
				font-size: 18px;
				width: auto;
				max-width: 500px;
				margin-top: 10px;
				line-height: 24px;
			}
		}
		div.stars{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			overflow: hidden;

			div.star{
				position: absolute;
				width: 100%;
				height: 100%;
				background: $light_yellow;

				&:after{
					content: '';
					position: absolute;
					top: 2000px;
				}
				&.level-1{
					width: 2px;
					height: 2px;
					box-shadow: $shadows-small;
					animation: animation_star 70s linear infinite;

					&:after{
						width: 2px;
						height: 2px;
						box-shadow: $shadows-small;
					}
				}
				&.level-3{
					width: 3px;
					height: 3px;
					box-shadow: $shadows-big;
					animation: animation_star 100s linear infinite;

					&:after{
						width: 3px;
						height: 3px;
						box-shadow: $shadows-big;
					}
				}
			}
		}
	}
	div.what_i_do{	
		@include container_sizing( 800px );
		padding: 100px 0 0;

		div.inner_container{
			h3{
				font-family: "colus";
				color: $med_blue;
				font-size: 16px;
				position: relative;

				&:before{
					width: 150px;
					height: 10px;
					background: linear-gradient(45deg, rgba(255,211,165,0.5) 0%, rgba(253,101,133,0.5) 100%);
					content: '';
					display: block;
					position: absolute;
					bottom: -2px;
					left: 20px;
				}
			}
			div.content{
				padding-top: 20px;

				div.card{
					padding-bottom: 40px;

					div.illustration{
						width: 100%;
						height: 100px;
						background: linear-gradient(45deg, rgba(#FA742B,.9) 0%, rgba(#FFE985,.9) 100%);
						border-radius: 2px;
					}
					div.text{
						h6{
							font-size: 18px;
							color: $med-blue;
							padding: 20px 0;
						}
						p{
							font-size: 16px;
							color: $med-blue;
							line-height: 18px;
						}
					}
				}				
			}
		}
	}
	div.my_project{
		@include container_sizing( 800px );
		padding: 100px 0 0;

		div.inner_container{
			h3{
				font-family: "colus";
				color: $med_blue;
				font-size: 16px;
				position: relative;
				margin-bottom: 20px;

				&:before{
					width: 200px;
					height: 10px;
					background: linear-gradient(45deg, rgba(255,211,165,0.5) 0%, rgba(253,101,133,0.5) 100%);
					content: '';
					display: block;
					position: absolute;
					bottom: -2px;
					left: 40px;
				}
			}
			div.content{
				div.card{
					margin-bottom: 40px;
					cursor: pointer;

					div.illustration{
						width: 200px;
						height: 200px;
						background: linear-gradient(45deg, rgba(#FA742B,.9) 0%, rgba(#FFE985,.9) 100%);
						border-radius: 4px;
						display: flex;
						justify-content: center;
						align-items: center;

						svg, img{
							width: 60%;
							max-height: 60%;
						}
					}
					div.text{
						margin: -10px 0 0 20px;

						h6{
							font-size: 18px;
							color: $med_blue;
							margin-bottom: 10px;
						}
						p{
							font-size: 16px;
							color: $med_blue;
							line-height: 18px;
						}
						ul{
							margin-left: 10px;
							overflow: auto;

							li{

								color: white;
								display: block;
								float: left;
								padding: 3px 12px;
								margin: 10px 12px;
								position: relative;
								font-size: 12px;
								font-weight: 800;
								background-color: $med_blue;
								border-radius: 15px;
							}
						}
					}
				}
			}
		}
	}
	div.my_experiment{
		@include container_sizing( 800px );
		padding: 100px 0 100px;

		div.inner_container{
			h3{
				font-family: "colus";
				color: $med_blue;
				font-size: 16px;
				position: relative;
				margin-bottom: 20px;

				&:before{
					width: 200px;
					height: 10px;
					background: linear-gradient(45deg, rgba(255,211,165,0.5) 0%, rgba(253,101,133,0.5) 100%);
					content: '';
					display: block;
					position: absolute;
					bottom: -2px;
					left: 60px;
				}
			}
			div.content{
				div.card{
					margin-bottom: 40px;
					cursor: pointer;

					div.illustration{
						width: 200px;
						height: 200px;
						background: linear-gradient(45deg, rgba(#7685A7,.1) 0%, rgba(#384667,.9) 100%);
						border-radius: 4px;
						display: flex;
						justify-content: center;
						align-items: center;

						svg, img{
							width: 60%;
							max-height: 60%;
						}
					}
					div.text{
						margin: -10px 0 0 20px;

						h6{
							font-size: 18px;
							color: $med_blue;
							margin-bottom: 10px;
						}
						p{
							font-size: 16px;
							color: $med_blue;
							line-height: 18px;
						}
						ul{
							margin-left: 10px;
							overflow: auto;

							li{

								color: white;
								display: block;
								float: left;
								padding: 3px 12px;
								margin: 10px 12px;
								position: relative;
								font-size: 12px;
								font-weight: 800;
								background-color: $med_blue;
								border-radius: 15px;
							}
						}
					}
				}
			}
		}
	}
}

// 

/*
	TABLET VERSION
*/
@media screen and (min-width: 768px ){
	section.home{
		div.introduction{
			div.inner_container{
				p{}
			}
		}

		div.what_i_do{	
			@include container_sizing( 800px );
	
			div.inner_container{
	
				h3{
					&:before{}
				}
				div.content{
					overflow: auto;

					div.card{
						width: calc(33% - 13.3px);
						margin-right: 20px;
						float: left;

						&:last-child{
							margin-right: 0px;
						}
						div.illustration{}
						div.text{
							h6{}
							p{}
						}
					}				
				}
			}
		}

		div.my_project{
			div.inner_container{
				h3{
					&:before{}
				}
				div.content{
					div.card{
						overflow: auto;

						div.illustration{
							float: left;

							svg, img{}
						}
						div.text{
							width: calc(100% - 200px);
							float: left;
							margin: 20px 0 0 -20px;

							h6{}
							p{}
							ul{
								margin-left: 20px;

								li{}
							}
						}
					}
				}
			}
		}

		div.my_experiment{
			div.inner_container{
				h3{
					&:before{}
				}
				div.content{
					div.card{
						overflow: auto;

						div.illustration{
							float: left;
							background: linear-gradient(45deg, rgba(#384667,.9) 0%, rgba(#7685A7,.1) 100%);
							
							svg, img{}
						}
						div.text{
							width: calc(100% - 200px);
							float: left;
							margin: 20px 0 0 -20px;

							
							h6{}
							p{}
							ul{
								margin-left: 20px;

								li{}
							}
						}
					}
				}
			}
		}
	}
}
/*
	SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){}

/*
	LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}

/*
	SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}

@keyframes animation_star{
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}		
}