<section class="projects_experiencedigital">

	<div class="introduction">
		<div class="inner_container">
			<h1><span class="letter">E</span><span class="letter">x</span><span class="letter">p</span><span class="letter">e</span><span class="letter">r</span><span class="letter">i</span><span class="letter">e</span><span class="letter">n</span><span class="letter">c</span><span class="letter">e</span><span class="letter" style="width: 25px;"></span><span class="letter">D</span><span class="letter">i</span><span class="letter">g</span><span class="letter">i</span><span class="letter">t</span><span class="letter">a</span><span class="letter">l</span></h1>
			<p>2016 | Work Project | Team Project</p>
		</div>
	</div>

	<div class="content">
		<div class="inner_container">
			<div class="header">
				<a routerLink="/projects" class="link"><span class="icon"></span> All Projects</a>
			</div>
			<div class="body">
				<img src="../../assets/images/ILLU_project_experiencedigital_1.jpg" alt="Laptop with experience digital website open.">
				<p>In 2016 when I got hired at experience digital, the company just had a major rebranding and my first job was to build a new website who would fit these new values and objectives. Because experience digital is an digital agency the website had to be a showcase of our capabilities in terms of design and development.</p>
				<iframe height='700' scrolling='no' title='SVG Animated Methodology' src='//codepen.io/ExperienceDigital/embed/zBYgaz/?height=700&theme-id=light&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'></iframe>
				<p>Early in the design process a choice of 3 major colours was made in order to symbolise the 3 core activities of the company: Design, Website & software. An original set of icons was designed to follow this theme and represent the key points of each activities. Following this choice the website was unified by one main template and 3 different declinations.</p>
				<img src="../../assets/images/ILLU_project_experiencedigital_2.jpg" alt="Smartphone with experience digital website open.">
				<p>We implemented a classic codeIgniter baseline framework. We then focus our work to create dynamic animations and transitions. In order to keep these animations clean and smooth on each platform, we used SVG elements (scalable vector graphic), which are not constrained by pixel size. We animated them with CSS 3. We difine that this technic was our best option following an iteration process throughou the available animations technic.</p>
				<div class="link_container">
					<externalurl [url]="'http://experience.digital/'">Visit Website</externalurl>
				</div>
			</div>
			<div class="footer">
				<div class="team">
					<div class="team_header">
						<h4>Team</h4>
					</div>
					<div class="team_body">
						<ul>
							<li style="background-image: url('../../assets/images/avatar/ICO_adam.jpg');"></li>
						</ul>
					</div>
				</div>
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li>
								<img src="../../../assets/images/tools/ICON_codeigniter.svg" alt="Code Igniter">
								<span class="tooltype">Code Igniter</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_html.svg" alt="Html 5">
								<span class="tooltype">Html 5</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_css.svg" alt="Css 3">
								<span class="tooltype">Css 3</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_javascript.svg" alt="Javascript">
								<span class="tooltype">Javascript</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>