<section class="projects_decatlon">

	<div class="introduction">
		<div class="inner_container">
			<h1><span class="letter">D</span><span class="letter">e</span><span class="letter">c</span><span class="letter">a</span><span class="letter">t</span><span class="letter">l</span><span class="letter">o</span><span class="letter">n</span></h1>
			<p>2014 | School Project | Team Project</p>
		</div>
	</div>

	<div class="content">
		<div class="inner_container">
			<div class="header">
				<a routerLink="/projects" class="link"><span class="icon"></span> All Projects</a>
			</div>
			<div class="body">
				<img src="../../assets/images/ILLU_project_decatlon_4.jpg" alt="User with the Move app">
				<p>All along my 5 years of study we had projects in partnership with companies, these kind of projects were a great way for us to test our ideas with a real business model in mind. This project was a partnership with Oxylan Décatlon, a French sportswear company with subsidiaries in China and Australia. During a week of workshop we lead a project around « The ideal sport experience who could motivate & attract Chinese non-enthusiast to sport ».</p>
				<img src="../../assets/images/ILLU_project_decatlon_2.jpg" alt="Wrist Move">
				<p>We started this project with a series of interview with students of Shanghai University, from their feedback and our research, we realise than in China sport was  more about preventing disease and not having a good body how it would be the case in a Western Country. We dig this idea and found that sport is a really good way to cure depression and in China depression touch a large part of population. We decide to use the emergent iot technology to develop a connected wrist. After few iteration we agree on a shape and a user experience with the ideas to push the them to enjoy a moment of quick casual sport through daily challenges.</p>
				<img src="../../assets/images/ILLU_project_decatlon_3.png" alt="Detail of the Move connected wrist">
				<p>We never had as objective a fully functional project, instead we were looking for a proof of concept, producing a sufficient amount a content and support to confirm ours hypothesis. A kakemono poster was produced in order to summarize these objective and hypothesis. Few 3D modelizations let us show our first vision for a solution. An I did develop a prototype for the mobile application, not to much about the final user interface but about the final user experience as a compagnon of the wrist.</p>
			</div>
			<div class="footer">
				<div class="team">
					<div class="team_header">
						<h4>Team</h4>
					</div>
					<div class="team_body">
						<ul>
							<li style="background-image: url('../../assets/images/avatar/ICO_anhthutran.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_martin.jpg');"></li>
						</ul>
					</div>
				</div>
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li>
								<img src="../../../assets/images/tools/ICON_illustrator.svg" alt="Illustrator">
								<span class="tooltype">Illustrator</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_html.svg" alt="Html 5">
								<span class="tooltype">Html 5</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_css.svg" alt="Css 3">
								<span class="tooltype">Css 3</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_javascript.svg" alt="Javascript">
								<span class="tooltype">Javascript</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>