<section class="projects_lepetitbateau">

	<div class="breadcrumb">
		<a routerLink="/projects" class="link"><span class="icon"></span> All Projects</a>
	</div>

	<div class="introduction">
		<div class="inner_container">
			<h1><span class="letter">L</span><span class="letter">e</span><span class="letter" style="width: 25px;"></span><span class="letter">P</span><span class="letter">e</span><span class="letter">t</span><span class="letter">i</span><span class="letter">t</span><span class="letter" style="width: 25px;"></span><span class="letter">B</span><span class="letter">a</span><span class="letter">t</span><span class="letter">e</span><span class="letter">a</span><span class="letter">u</span></h1>
			<p>2017 | Freelance Project</p>
		</div>
	</div>

	<div class="content">
		<div class="inner_container">
			<div class="body">
				<img src="../../assets/images/ILLU_project_lepetitbateau_2.jpg" alt="Computer with the le petit bateau website open">
				<p>Le Petit Bateau (“the little boat”) is an art collective launched in May 2014. LPB prides itself on building a platform for many local and international creative’s, be it visual artists, performers, musicians, designers, architects! Together they work on this common goal to promote Art and Culture and make it accessible to everyone. Based in Sydney, France and Italy, the collective organise regularly, exhibitions, art installation, performances, documentary projection, festivals, movie premiere and private function. Each event is respecting the values and causes that LPB defends: Ecology, Art and Sharing.</p>
				<img src="../../assets/images/ILLU_project_lepetitbateau_3.jpg" alt="Smartphone with the le petit bateau website open">
				<p>I have been working on a freelance basis with Le Petit Bateau art collective for several years. Working closely with the collective to understand their objectives, I have played a key role in establishing their branding and developing their digital presence. The minimal yet playful design of the website embodies the colourful ethos of the art collective. The principal challenge of this work with an art collective was to express their visual identity and going further until the screen become a new medium for the collective.</p>
				<img src="../../assets/images/ILLU_project_lepetitbateau_1.jpg" alt="Computer with the le petit bateau website open">
				<p>A codeIgniter base was chosen thanks to its flexibility in term of front-end, no prerequisite template where needed, letting us start from a blank page. The project was developed step by steps starting with a simple base and adding after that gallery, an event manager and a e-commerce. All of these build from scratch to fit the design’s decision and integrate with tiers plugin like Mailchimp for the mailing system and Stripe for the payment portal. As the collective grown we add up some more feature including an interactive map of the different events. A personalised backend was the only option to fit the request in terms of event & stock management so we were able to provide with the best experience even in term of management.</p>
				<div class="link_container">
					<externalurl [url]="'http://lepetitbateau.com.au/'">Visit Website</externalurl>
				</div>
			</div>
			<div class="footer">
				<div class="team">
					<div class="team_header">
						<h4>Team</h4>
					</div>
					<div class="team_body">
						<ul>
							<li style="background-image: url('../../assets/images/avatar/ICO_sophie.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_anso.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_gaetano.jpg');"></li>
						</ul>
					</div>
				</div>
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li>
								<img src="../../../assets/images/tools/ICON_illustrator.svg" alt="Illustrator">
								<span class="tooltype">Illustrator</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_codeigniter.svg" alt="Code Igniter">
								<span class="tooltype">Code Igniter</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_css.svg" alt="Css">
								<span class="tooltype">Css</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_javascript.svg" alt="Javascript">
								<span class="tooltype">Javascript</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>