<section class="projects_freelancer_library">

	<div class="introduction">
		<div class="inner_container">
			<h1><span class="letter">F</span><span class="letter">r</span><span class="letter">e</span><span class="letter">e</span><span class="letter">l</span><span class="letter">a</span><span class="letter">n</span><span class="letter">c</span><span class="letter">e</span><span class="letter">r</span><span class="letter" style="width: 25px;"></span><span class="letter">L</span><span class="letter">i</span><span class="letter">b</span><span class="letter">r</span><span class="letter">a</span><span class="letter">r</span><span class="letter">y</span></h1>
			<p>2019 | Work Project | Team Project</p>
		</div>
	</div>

	<div class="content">
		<div class="inner_container">
			<div class="header">
				<a routerLink="/projects" class="link"><span class="icon"></span> All Projects</a>
			</div>
			<div class="body">
				<img src="../../assets/images/ILLU_project_bits_1.jpg" alt="Freelancer.com rating component">
				<p>When first started at Freelancer.com the main challenge we faced was consistency through the website. Freelancer.com was started in 2010 and over its 10 years of exploitation the website grows a lot, making it difficult to keep coherence. In an effort toward harmonisation, we did what numerous company had already started, and built our own design system. As a product designer, I spent lots of my time working on this library. A sister library was built in parallel with Angular.js by the front-end team. We only started this project at the beginning of 2018, and integrated with a version control from the start. Abstract, was the software we choose. It allowed us to create branches from the same file, therefore having more than one designer working simultaneously on the library.</p>
				<img src="../../assets/images/ILLU_project_bits_2.jpg" alt="Freelancer.com navigation">
				<p>Structuring the library was probably the main challenge to my eyes. Following previous experience and other company's success we decided to follow a tree structure. On top, the General components file. Its components can be used indiscriminately on every platform. One Level below is the platform files. eg: Desktop, Mobile-web, Android & IOs. They are built with components from the General components and each focus on one platform. We added a 3rd level to this hierarchy for the seasonal files. Theses are only temporary libraries, for a specific promotion or theme. With this 3 levels of library we were able to build any pages we wanted drastically faster.</p>
				<img src="../../assets/images/ILLU_project_bits_3.jpg" alt="Freelancer.com project cards">
				<p>We built each component of the library to be as flexible as possible. Sketch symbol gave us the ability to embed a component inside another component. Our navigation becomes a series of icon symbols plus a logo symbol and an avatar symbol. That gives us the ability to update the logo and have all its instances across all design update systematically. We could also create declination of a symbol and swap them in function of a certain context. Eg: an active icon in one page can become disabled in another one.</p>
				<img src="../../assets/images/ILLU_project_bits_4.jpg" alt="Freelancer.com project view page">
				<p>It was not an easy job, and some components are still in progress at the time I am writing these lines. We built over a hundred components who each have few declinations. But it was also one of the most interesting project I ever be part of. It allowed me to have a bird view of this massive website, and focus on some very high level UI and UX question. For the company it was also a great win, allowing new designers to have a source of reference, and older designers like me, to focus on the high level questions while producing page design at a faster pace.</p>
			</div>
			<div class="footer">
				<div class="team">
					<div class="team_header">
						<h4>Team</h4>
					</div>
					<div class="team_body">
						<ul>
							<li style="background-image: url('../../assets/images/avatar/ICO_samantha.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_anne.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_christine.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_electra.jpg');"></li>
						</ul>
					</div>
				</div>
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li>
								<img src="../../../assets/images/tools/ICON_sketch.svg" alt="Sketch">
								<span class="tooltype">Sketch</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_abstract.svg" alt="Abstract">
								<span class="tooltype">Abstract</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
