<section class="projects_freelancer_library">

	<div class="introduction">
		<div class="inner_container">
			<h1><span class="letter">F</span><span class="letter">r</span><span class="letter">e</span><span class="letter">e</span><span class="letter">l</span><span class="letter">a</span><span class="letter">n</span><span class="letter">c</span><span class="letter">e</span><span class="letter">r</span><span class="letter" style="width: 25px;"></span><span class="letter">L</span><span class="letter">i</span><span class="letter">b</span><span class="letter">r</span><span class="letter">a</span><span class="letter">r</span><span class="letter">y</span></h1>
			<p>2019 | Work Project | Team Project</p>
		</div>
	</div>

	<div class="content">
		<div class="inner_container">
			<div class="header">
				<a routerLink="/projects" class="link"><span class="icon"></span> All Projects</a>
			</div>
			<div class="body">
				<img src="../../assets/images/ILLU_project_carrott_1.jpg" alt="Hand holding the carrott phone app.">
				<p>When first started at Freelancer.com the main challenge we faced was consistency through the website. Freelancer.com was started in 2010 and over its 10 years of exploitation the website grows a lot, making it difficult to keep coherence. In an effort of harmonisation, we did what numerous company had already started, and built our own design system. As a product designer, I was  part of the team who had to build the library. A sister library was built in parallel with Angular.js the front-end team. It's only in 2018 that we started the project, as version control for design started to become more powerful. Abstract, our design version control is Very similar to Git in its logic. It allowed us to create branches of the same file, therefore having more than one designer working simultaneously on the library.</p>
				<img src="../../assets/images/ILLU_project_carrott_2.jpg" alt="People using the carrott phone app.">
				<p>Structuring the library was probably the main challenge to my eyes. Following previous experience and other company's success we decided to follow a tree structure. On top, the General components file. Its components can be used indiscriminately on every platform. One Level below is the platform files. eg: Desktop, Mobile-web, Android & IOs. They are built with components from the General components and each focus on one platform. The 3rd level of the hierarchy is for the seasonal files. Theses are only temporary libraries, for a specific promotion or theme. From this 3 levels of library we can now build any pages we want by drag and drop.</p>
				<img src="../../assets/images/ILLU_project_carrott_3.jpg" alt="Hand holding the carrott phone app.">
				<p>We built each component of the library to be as flexible as possible. Sketch symbol gave us the ability to embed a component inside another component. Our navigation becomes then a series of icon symbols plus a logo symbol and an avatar symbol. We can then update a logo and have all its instances across the website update systematically. We can also create declination of a symbol a swap it in function of a context. Eg: an active icon in one page can become disabled in another one.</p>
				<img src="../../assets/images/ILLU_project_carrott_3.jpg" alt="Hand holding the carrott phone app.">
				<p>It was not an easy job, and some components are still in progress at the time I am writing these lines. We built over a hundred components who each have few declinations. But it was also one of the most interesting project I ever be part of. It allows me to have a bird view of the website, and focus on some very high level UI and UX question. For the company it was also a great win, allowing new designers to have a source of reference, and older designers like me, to focus on the high level questions while producing page design at a faster pace.</p>
			</div>
			<div class="footer">
				<div class="team">
					<div class="team_header">
						<h4>Team</h4>
					</div>
					<div class="team_body">
						<ul>
							<li style="background-image: url('../../assets/images/avatar/ICO_samantha.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_anne.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_christine.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_electra.jpg');"></li>
						</ul>
					</div>
				</div>
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li>
								<img src="../../../assets/images/tools/ICON_sketch.svg" alt="Sketch">
								<span class="tooltype">Sketch</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_abstract.svg" alt="Abstract">
								<span class="tooltype">Abstract</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
