/* IMPORTS */
@import "../../../assets/styles/ui_mixines";

/*
	PHONE VERSION
*/
section.contact{
	padding-top: 5%;

	div.introduction{
		@include container_sizing( 800px );
		background: linear-gradient(45deg, rgba(#FA742B,.9) 0%, rgba(#FFE985,.9) 100%);
		border-radius: 4px;
		position: relative;

		div.inner_container{
			padding: 5vh 0;

			div.illustration{
				width: 75px;
				height: 75px;
				background-color: #f2f2f2;
				background: url('../../../assets/images/hello_this_is_me_alexandre.jpg');
				background-size: cover;
				background-position: center center;
				margin: 0 auto 10px;
				border-radius: 50%;
			}
			p{
				color: $white;
				width: 100%;
				text-align: center;
				font-size: 16px;
				font-weight: 800;
			}
		}
	}

	div.introduction_text{
		padding: 40px 0;

		div.inner_container{
			@include container_sizing( 800px );

			p{
				@include primary_text( $dark_grey );
				
				externalurl{
					color: $med_yellow;
					transition: color 200ms;
					cursor: pointer;

					&:hover{
						color: $light_yellow;
					}
				}
			}
		}
	}

	div.main{
		div.inner_container{
			@include container_sizing( 400px );
			padding: 0 6px;

			div.history{
				div.header{
					h3{ @include secondary_title( $dark_grey ); }
				}
				div.body{
					border-left: 4px solid $light_yellow;
					
					ul{
						li{
							overflow: auto;
							margin: 40px auto;
							position: relative;
							padding-left: 30px;
	
							&:after{
								content: "";
								position: absolute;
								top: 20px;
								left: 3px;
								border-right: 0;
								border-top: 8px solid transparent;
								border-bottom: 8px solid transparent;
								border-left: 8px solid $light_grey;
							}
							div.left{
								width: 70px;
								float: left;
	
								h4{
									padding-top: 20px;
									color: $dark_grey;
									font-size: 1.2rem;
									font-weight: 800; 
								}
							}
							div.right{
								width: calc(100% - 70px);
								float: left;
								padding: 5px 0;
	
								p{
									&.timeline_header{
										color: $dark_grey;
										font-size: .8rem;
										font-weight: 400; 
									}
									&.timeline_body{
										color: $dark_grey;
										font-size: 1.2rem;
										font-weight: 800;
										margin: 10px 0 5px;
									}
									&.timeline_footer{
										color: #adadad;
										font-size: .8rem;
										font-weight: 400;
	
										b{
											font-weight: 800;
										}
									}
								}
							}
						}
					}
				}
			}
			div.right{
				div.skills{
					padding: 0px 0 80px;

					div.header{
						h3{ @include secondary_title( $dark_grey ); }
						margin-bottom: 20px;
					}
					div.body{
						div.tags{
							overflow: auto;
							width: calc(100% + 12px);
							margin-left: -12px;
							padding: 10px 0;

							div.tag{
								background-color: #f0f0f0;
								display: block;
								float: left;
								padding: 3px 12px;
								margin: 10px 12px;
								position: relative;
								cursor: pointer;
	
								&:hover span{
									width: 70px;
									transition: all 200ms;
								}
								span{
									position: absolute;
									width: 10px;
									top: -8px;
									right: -15px;
									background-color: $dark_grey;
									color: white;
									padding: 1px 6px;
									border-radius: 20px;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: clip;
								}
								p{
									@include primary_text( $dark_grey );
									width: auto;
									display: block;
								}
							}
						}
					}
				}
				div.form{
					padding: 0px 0 80px;

					div.header{
						h3{ @include secondary_title( $dark_grey ); }
						margin-bottom: 40px;
					}
					div.body{
						div.input_container{
							&.text{ @include primary_input( text, $dark_grey, #f2f2f2, true) }
							&.textarea{ @include primary_input( textarea, $dark_grey, #f2f2f2, true) }
						}
					}
					div.footer{
						a.button{
							@include primary_button( #f2f2f2, false, 50px )
						}
					}
				}
			}
		}
	}
}

/*
	TABLET VERSION
*/
@media screen and (min-width: 768px ){}

/*
	SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){
	section.contact{
		div.introduction{
			&:after{}
			div.inner_container{
				h1{}
			}
		}
	
		div.introduction_text{
			div.inner_container{
				p{}
			}
		}
	
		div.main{
			div.inner_container{
				@include container_sizing( 800px );
				overflow: auto;

				div.history{
					float: left;
					width: 380px;
				}
				div.right{
					float: right;
					width: 380px;

					div.skills{}
					div.form{
						div.body{
							div.input_container{
								&.text{}
								&.textarea{}
							}
						}
						div.footer{
							a.button{}
						}
					}
				}
			}
		}
	}
}

/*
	LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}

/*
	SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}