/* IMPORTS */
@import "../../../assets/styles/ui_mixines";

/*
	PHONE VERSION
*/
section.projects{
	padding-top: 5%;

	div.projects{
		@include container_sizing( 800px );
		padding: 100px 0 0;
		
		div.inner_container{
			div.content{
				div.card{
					margin-bottom: 40px;
					cursor: pointer;

					div.illustration{
						width: 200px;
						height: 200px;
						background: linear-gradient(45deg, rgba(#FA742B,.9) 0%, rgba(#FFE985,.9) 100%);
						border-radius: 4px;
						display: flex;
						justify-content: center;
						align-items: center;

						svg, img{
							width: 60%;
							max-height: 60%;
						}
					}
					div.text{
						margin: -10px 0 0 20px;

						h6{
							font-size: 18px;
							color: $med_blue;
							margin-bottom: 10px;
						}
						p.label{
							font-size: 16px;
							color: lighten($med_blue, 30%);
							margin-bottom: 5px;
						}
						p{
							font-size: 16px;
							color: $med_blue;
							line-height: 18px;
						}
						ul{
							margin-left: 10px;
							overflow: auto;

							li{

								color: white;
								display: block;
								float: left;
								padding: 3px 12px;
								margin: 10px 12px;
								position: relative;
								font-size: 12px;
								font-weight: 800;
								background-color: $med_blue;
								border-radius: 15px;
							}
						}
					}
				}
			}
		}
	}
}

/*
	TABLET VERSION
*/
@media screen and (min-width: 768px ){
	section.projects{
		div.introduction{
			&:after{}
			div.inner_container{
				h1{}
			}
		}
	
		div.projects{
			div.inner_container{
				div.content{
					div.card{
						overflow: auto;

						div.illustration{
							float: left;

							svg, img{}
						}
						div.text{
							width: calc(100% - 200px);
							float: left;
							margin: 20px 0 0 -20px;

							h6{}
							p{}
							ul{
								margin-left: 20px;

								li{}
							}
						}
					}
				}
			}
		}
	}
}
/*
	SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){}

/*
	LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}

/*
	SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}
