<section class="projects">

	<animated-title title="projects" subtitle="" color="orange"></animated-title>

	<div class="projects">
		<div class="inner_container">
			<div class="content">
				<div class="card" routerLink="/projects/qimaone">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_qima.svg" alt="QIMA">
					</div>
					<div class="text">
						<h6>QIMAone</h6>
						<p class="label">2020 - 2022</p>
						<p>QIMAone is the promise of a tool that would help inspectors and clients across the word to create and perform inspections. As a designer, I made sure these complexes inspections didn't translate in complex interfaces.</p>
						<ul>
							<li>Figma</li>
							<li>Origami studio</li>
						</ul>
					</div>
				</div>
				<div class="card" routerLink="/projects/freelancer-library">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_freelancerbits.svg" alt="Freelancer design Library">
					</div>
					<div class="text">
						<h6>Freelancer Design Library</h6>
						<p class="label">2019 - design system</p>
						<p>As part of my rôle as product designer, I created a Design system for the Freelancer.com website. The goal was straight forward, add consistency this enormous website, save time for design and development.</p>
						<ul>
							<li>Sketch</li>
						</ul>
					</div>
				</div>
				<div class="card" routerLink="/projects/carrott">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_carrott.svg" alt="Carrott">
					</div>
					<div class="text">
						<h6>Carrott mobile application</h6>
						<p class="label">2017 - mobile application</p>
						<p>Carrott was a great project to work on. I had the chance to be the lead designer and the lead front-end developer for the all project and see it move from concept to published app and then miserably fail because the business model was quite terrible.</p>
						<ul>
							<li>Adobe Illustrator</li>
							<li>Ionic</li>
						</ul>
					</div>
				</div>
				<div class="card" routerLink="/projects/freelancer-browse-project">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_freelancer.svg" alt="Freelancer browse Library">
					</div>
					<div class="text">
						<h6>Freelancer browse project</h6>
						<p class="label">2018 - design</p>
						<p>Probably one of the most interesting project I had worked on. These cards on the page browse project of Freelancer.com had to be designed in a way that would push talented freelancer to apply while moving away the spam freelancer.</p>
						<ul>
							<li>Sketch</li>
						</ul>
					</div>
				</div>
				<div class="card" routerLink="/projects/birkenstock">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_birkenstock.svg" alt="Birkenstock">
					</div>
					<div class="text">
						<h6>Birkenstock bondi beach</h6>
						<p class="label">2016 - website</p>
						<p>When I arrived in Sydney I worked overtime on quite a lot of freelance project, but only one of them was enjoyable. This website for a Birkenstock shop in Bondi beach, I did the design, front-end and back-end and it inspire me to do more personal projects.</p>
						<ul>
							<li>Sketch</li>
						</ul>
					</div>
				</div>
				<div class="card" routerLink="/projects/nexity">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_nexity.svg" alt="Nexity">
					</div>
					<div class="text">
						<h6>Nexity connected flat</h6>
						<p class="label">2015 - iot</p>
						<p>Part of my final internship this project brought me to interview home buyer, understand their needs, create userflow, and source product for a prototype apartment for Nexity. I also created the application to control the apartment.</p>
						<ul>
							<li>Sketch</li>
						</ul>
					</div>
				</div>
				<div class="card" routerLink="/projects/experience-digital">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_experiencedigital.svg" alt="Experience Digital">
					</div>
					<div class="text">
						<h6>Experience Digital website</h6>
						<p class="label">2016 - website</p>
						<p>My first project when I integrated Experience Digital in Sydney, my objective was to showcase the front-end capability of our agency. This project brought me to start doing front-end development as part of my job for the following 2 years.</p>
						<ul>
							<li>Sketch</li>
						</ul>
					</div>
				</div>
				
				<!-- ARCHIVE			
				<div class="card" routerLink="/projects/le-petit-bateau">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_lepetitbateau.svg" alt="Le Petit Bateau">
					</div>
					<div class="text">
						<h6>Le Petit Bateau</h6>
						<p class="label">2016 - website</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quibusdam illo nisi culpa, perspiciatis aut quos, veritatis error repellendus ipsum in iusto facere rem quisquam, maxime recusandae magnam temporibus dolores.</p>
						<ul>
							<li>Sketch</li>
						</ul>
					</div>
				</div>
				<div class="card" routerLink="/projects/decathlon">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_decatlon.svg" alt="Decathlon">
					</div>
					<div class="text">
						<h6>Decathlon connected band</h6>
						<p class="label">2014 - iot</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quibusdam illo nisi culpa, perspiciatis aut quos, veritatis error repellendus ipsum in iusto facere rem quisquam, maxime recusandae magnam temporibus dolores.</p>
						<ul>
							<li>Sketch</li>
						</ul>
					</div>
				</div>
				<div class="card" routerLink="/projects/freelancer-library">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_kozikaza.svg" alt="Freelancer design Library">
					</div>
					<div class="text">
						<h6>Kozikaza</h6>
						<p class="label">2019 - design system</p>
						<p>As part of my rôle as product designer, I created a Design system for the Freelancer.com website. The goal was straight forward, add consistency this enormous website, save time for design and development.</p>
						<ul>
							<li>Sketch</li>
						</ul>
					</div>
				</div>
				<div class="card" routerLink="/projects/freelancer-library">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_kazaplan.svg" alt="Freelancer design Library">
					</div>
					<div class="text">
						<h6>Kazaplan</h6>
						<p class="label">2019 - design system</p>
						<p>As part of my rôle as product designer, I created a Design system for the Freelancer.com website. The goal was straight forward, add consistency this enormous website, save time for design and development.</p>
						<ul>
							<li>Sketch</li>
						</ul>
					</div>
				</div>
				<div class="card" routerLink="/projects/freelancer-library">
					<div class="illustration">
						<img src="../../../assets/images/project_thumb/LOGO_bpifrance.svg" alt="Freelancer design Library">
					</div>
					<div class="text">
						<h6>BPI france</h6>
						<p class="label">2019 - design system</p>
						<p>As part of my rôle as product designer, I created a Design system for the Freelancer.com website. The goal was straight forward, add consistency this enormous website, save time for design and development.</p>
						<ul>
							<li>Sketch</li>
						</ul>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</section>