/* IMPORTS */
@import "../assets/styles/ui_mixines";

/*
	PHONE VERSION
*/
//NAVIGATION
nav{
	position: relative;
	z-index: 30;

	div.top_container{
		width: 100%;
		background-color: $white;
		padding: 15px 0px;
		box-shadow: 0px 0px 8px rgba($dark_grey, .3);
		overflow: auto;
		z-index: 2;
		position: relative;

		div.haburger_menu{
			float: left;
			display: block;
			width: 40px;
			margin-top: 5px;
			margin-left: 7.5%;
			height: 25px;
			position: relative;
			cursor: pointer;

			span.line{
				display: block;
				width: 100%;
				height: 4px;
				position: absolute;
				background: linear-gradient(to right, $light_yellow, $med_yellow); 
				left: 0;
				border-radius: 4px;
				transition: all 0.4s;

				&.line-1{ top: 0; }
				&.line-2{ top: 50%; }
				&.line-3{ top: 100%; }
			}
			&.active{
				span.line-1 { transform: translateY(12.5px) translateX(0) rotate(45deg); }
				span.line-2 { opacity: 0; }
				span.line-3 { transform: translateY(-12.5px) translateX(0) rotate(-45deg); }
			}
		}
		div.name{
			outline: none;
			margin-right: 7.5%;
			
			svg{
				cursor: pointer;
				float: right;
				width: 40px;
			}
			p{
				display: none;
				cursor: pointer;
			}
		}
		
	}
	div.left_container{
		position: fixed;
		height: calc(100% - 40px);
		width: calc(80% - 80px);
		background-color: white;
		z-index: 1;
		box-shadow: 0px 0px 8px rgba($dark_grey, .3);
		padding: 20px 40px;
		top: 0;
		left: -82%;
		transition: all 400ms;

		&.active{
			transform: translateX(100%);
		}
		div.header{
			padding: 10px 0;
			color: $dark_grey;
			margin-bottom: 40px;

			h2{}
		}
		div.body{
			ul{
				li{
					padding: 10px 0;
					margin: 10px 0;
					font-size: 1.1rem;
					color: $dark_grey;
					cursor: pointer;

					&.active{
						font-weight: 800;
					}
				}
			}
		}
	}
}

//FOOTER
footer{
	width: 100%;
	position: relative;
	z-index: 2;
	background: radial-gradient(ellipse at bottom, rgba($light_grey, .9) 0%, rgba($med_grey, .9)) 100%, url('../assets/images/BG_intro_2.jpg');
	background-size: cover;
	background-position: center bottom;

	div.inner_container{
		@include container_sizing( 100% );
		padding: 50px 0;
		position: relative;
		min-height: calc(30vh - 100px);

		div.left{
			h4{
				@include secondary_title( $white );
				font-size: 1.2rem;
				width: 100%;
				text-align: center;
			}
			ul{
				width: 130px;
				margin: 0px auto 0;
				display: flex;
				
				li, externalurl{
					width: calc(25% - 8px);
					margin: 5px;
					cursor: pointer;
	
					&:first-child{ margin-left: 0; }
					&:last-child{ margin-right: 0; }
				}
			}	
		}
		div.right{
			p{
				@include primary_text( $white );
				width: 100%;
				text-align: center;
				position: relative;
				
			}	
		}
		
	}
}
/*
	TABLET VERSION
*/
@media screen and (min-width: 768px ){
	//NAVIGATION
	nav{
		div.top_container{
			div.haburger_menu{
				span.line{
					&.line-1{}
					&.line-2{}
					&.line-3{}
				}
			}
			div.name{
				svg{}
				p{}
			}
		}
		div.left_container{
			width: calc(40% - 80px);
			left: -42%;

			div.header{
				h2{}
			}
			div.body{
				ul{
					li{}
				}
			}
		}
	}
	
	//FOOTER
	footer{
		div.inner_container{
			overflow: auto;
			padding: 20px 0;
			min-height:0;

			div.left{
				float: left;
				overflow: auto;

				h4{
					width: auto;
					float: left;
					line-height: 38px;
					padding-right: 10px;
				}
				ul{
					float: left;

					li, externalurl{}
				}
			}
			div.right{
				float: right;

				p{
					line-height: 38px;
				}
			}
		}
	}
}


/*
	SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){
	//NAVIGATION
	nav{
		div.top_container{
			div.haburger_menu{
				display: none;

				span.line{
					&.line-1{}
					&.line-2{}
					&.line-3{}
				}
			}
			div.name{
				margin-left: 7.5%;

				svg{ float: left; }
				p{
					display: block;
					line-height: 40px;
					padding-left: 10px;
					float: left;
					font-size: 1.1rem;
				}
				&.active{
					p{
						font-weight: 800;
					}
				}
			}
		}
		div.left_container{
			position: absolute;
			padding: 0;
			height: auto;
			width: auto;
			top: 15px;
			left: initial;
			right: 7.5%;
			box-shadow: initial;
			z-index: 3;
			transform: translateX(0);

			div.header{
				display: none;
				h2{}
			}
			div.body{
				ul{
					overflow: auto;

					li{
						margin: 0 10px;
						float: left;
					}
				}
			}
		}
	}
	
}

/*
	LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}


/*
	SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}