<section class="projects_nexity">

	<div class="introduction">
		<div class="inner_container">
			<h1><span class="letter">N</span><span class="letter">e</span><span class="letter">x</span><span class="letter">i</span><span class="letter">t</span><span class="letter">y</span></h1>
			<p>2015 | Work Project | Team Project</p>
		</div>
	</div>

	<div class="content">
		<div class="inner_container">
			<div class="header">
				<a routerLink="/projects" class="link">< All Projects</a>
			</div>
			<div class="body">
				<img src="../../assets/images/ILLU_project_nexity_1.jpg" alt="Nexity app">
				<p>In 2015, I did a 6 months work placement at Fabernovel, a French advisory company for the Internet of thing, and more generally internet technologies. Easy Home was the main project of this work placement at Fabernovel,it was contracted by one of the giant real estate company in france, Nexity. They wanted to offer to their customer the choice of a fully connected appartment, and we had to make it happen.</p>
				<img src="../../assets/images/ILLU_project_nexity_2.jpg" alt="Nexity app">
				<p>To reach our objectives we divided the project in two parts, a vision one to imagine the future of the project in five or ten years time. With the idea of business model, services and partnerships. And a second part, the pilot, with as the only goal to launch a first prototype in Paris by 2015. As an interaction designer my place was mostly on the pilot but in order to provide and materialize the idea I had to work closely with the vision team. The first stage was to determine what was doable, by contacting the provider. Then we sat and talk with the final user to define their need. Some user scenario were developed then tested until we found few of them who were doable, interesting for the final user and fitting the client request.</p>
				<img src="../../assets/images/ILLU_project_nexity_3.jpg" alt="Nexity workflow">
				<p>When the idea was approved, wIe started materialized the mobile application in some low then high wireframe. The application takes the form of a hub with the different services and an access to all the controls of the apartment. We had to pass through 10 different version of wireframing until our solution where perfectly fitting all the needs of the project and every stakeholder’s vision. That was interesting to see how to explain and defend our project on real condition.</p>
				<div class="link_container">
					<a (click)="go_to_external_page('nexity')">See on the App Store</a>
				</div>
			</div>
			<div class="footer">
				<div class="team">
					<div class="team_header">
						<h4>Team</h4>
					</div>
					<div class="team_body">
						<ul>
							<li style="background-image: url('../../assets/images/ICO_raphaelle.jpg');"></li>
							<li style="background-image: url('../../assets/images/ICO_elodie.jpg');"></li>
							<li style="background-image: url('../../assets/images/ICO_thomas.jpg');"></li>
						</ul>
					</div>
				</div>
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li>
								<img src="../../../assets/images/ICON_illustrator.svg" alt="Illustrator">
								<span class="tooltype">Illustrator</span>
							</li>
							<li>
								<img src="../../../assets/images/ICON_photoshop.svg" alt="Photoshop">
								<span class="tooltype">Photoshop</span>
							</li>
							<li>
								<img src="../../../assets/images/ICON_invision.svg" alt="Invision">
								<span class="tooltype">Invision</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>