<section class="projects_nexity">

	<div class="introduction">
		<div class="inner_container">
			<h1><span class="letter">N</span><span class="letter">e</span><span class="letter">x</span><span class="letter">i</span><span class="letter">t</span><span class="letter">y</span></h1>
			<p>2015 | Work Project | Team Project</p>
		</div>
	</div>

	<div class="content">
		<div class="inner_container">
			<div class="header">
				<a routerLink="/projects" class="link"><span class="icon"></span> All Projects</a>
			</div>
			<div class="body">
				<img src="../../assets/images/ILLU_project_nexity_1.jpg" alt="Nexity app">
				<p>In 2015, I spent 6 months at FaberNovel Innovate, a Paris-based consulting agency for internet technologies. During this time, Nexity Easy Home was the my main project. Nexity  is one of the giants in real estate across Europe. They build, sell and manage real estate. Following the evolution of home automation they came to us, with the goal to create a fully connected apartment, and our job was to find out how to do it.</p>
				<img src="../../assets/images/ILLU_project_nexity_2.jpg" alt="Nexity app">
				<p>To reach our objectives, we divided the project in two parts. First a vision to represent the future of the project in five to ten years. Then secondly a pilot, integrated in a building already in construction and completed by the end of 2015. Both parts of this project were terribly exciting. For the vision, we were building partnership, exploring potential business model and researching future services. For the pilot, we were hand on (as much as a designer can be), in contact with the contractor to make things happen.</p>
				<img src="../../assets/images/ILLU_project_nexity_3.jpg" alt="Nexity workflow">
				<p>As an interaction designer my main role was to design a mobile app used to control this apartment. We started by defining user scenarios. What does my house need to do when I’m coming back from work? Or when I’m going on holidays? When I have friends over for dinner?  We took all these scenarios and designed interaction out of them, then we checked with our provider what was available, and test it with our users. Once these scenarios were approved, I was charged to design the mobile app around them.</p>
				<img src="../../assets/images/ILLU_project_nexity_4.jpg" alt="Nexity ipad app">
				<p>We went through a dozen of iteration for the application. Half in low wireframe, half in high wireframe. At 6th version we were clear on what we wanted. We wanted this app to be the hub to link all parts of the house automation. 4 versions later we had our final design, for version 1, satisfying our stakeholder, our users, and ourselves.</p>
			</div>
			<div class="footer">
				<div class="team">
					<div class="team_header">
						<h4>Team</h4>
					</div>
					<div class="team_body">
						<ul>
							<li style="background-image: url('../../assets/images/avatar/ICO_raphaelle.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_elodie.jpg');"></li>
							<li style="background-image: url('../../assets/images/avatar/ICO_thomas.jpg');"></li>
						</ul>
					</div>
				</div>
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li>
								<img src="../../../assets/images/tools/ICON_illustrator.svg" alt="Illustrator">
								<span class="tooltype">Illustrator</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_photoshop.svg" alt="Photoshop">
								<span class="tooltype">Photoshop</span>
							</li>
							<li>
								<img src="../../../assets/images/tools/ICON_invision.svg" alt="Invision">
								<span class="tooltype">Invision</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>