<section class="methodology">

	<div class="introduction">
		<div class="inner_container">
			<ul>
				<li (click)="change_category( 'research' )">
					<img src="../../../assets/images/ICON_briefing.svg" alt="">
					<h5>Research</h5>
				</li>
				<li (click)="change_category( 'ideation' )">
					<img src="../../../assets/images/ICON_ideation.svg" alt="">
					<h5>Ideation</h5>
				</li>
				<li (click)="change_category( 'concepts' )">
					<img src="../../../assets/images/ICON_concepts.svg" alt="">
					<h5>Concepts</h5>
				</li>
				<li (click)="change_category( 'workflows' )">
					<img src="../../../assets/images/ICON_workflow.svg" alt="">
					<h5>Workflows</h5>
				</li>
				<li (click)="change_category( 'prototypes' )">
					<img src="../../../assets/images/ICON_prototypes.svg" alt="">
					<h5>Protoypes</h5>
				</li>
				<li (click)="change_category( 'launch' )">
					<img src="../../../assets/images/ICON_launch.svg" alt="">
					<h5>Launch</h5>
				</li>
			</ul>
		</div>
		<span class="arrow" [ngStyle]="{'left': arrow_left_position}" [ngClass]="{'active': is_loading}"></span>
	</div>

	<div class="content">
		<div class="loading" *ngIf="is_loading">
			<div class="loading_cubes">
			    <div class="square square-1"></div>
			    <div class="square square-2"></div>
			    <div class="square square-3"></div>
			    <div class="square square-4"></div>
			    <div class="square square-5"></div>
			    <div class="square square-6"></div>
			    <div class="square square-7"></div>
			    <div class="square square-8"></div>
			    <div class="square square-9"></div>
			  </div>
		</div>
		<div class="inner_container">
			<div class="header">
				<img src="{{methodology[category].picture.url}}" alt="{{methodology[category].picture.alt" (load)="hide_loading()">
			</div>
			<div class="body">
				<p>{{methodology[category].description}}</p>
			</div>
			<div class="footer">
				<div class="tools">
					<div class="tools_header">
						<h4>Tools</h4>
					</div>
					<div class="tools_body">
						<ul>
							<li *ngFor="let tool of methodology[category].tools">
								<img src="{{tool.url}}" alt="{{tool.alt}}">
								<span class="tooltype">{{tool.alt}}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>