/* IMPORTS */
@import "../../../assets/styles/ui_mixines";

/*
    PHONE VERSION
*/
section.experiments{
	min-height: 100vh;

	div.introduction{
		background: linear-gradient(to right, $light_yellow, $med_yellow);
		width: 100%;
		position: relative;
	
		&:after{
			content: "";
			position: absolute;
			bottom: 0px;
			left: calc(50vw - 4px);
			border-top: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #ffffff;
		}
		div.inner_container{
			@include container_sizing( 800px );
			padding: 10vh 0;

			h1{
				color: $white;
				font-size: 2rem;
				font-weight: 800; 
				text-align: center;
				overflow: hidden;

				span.letter{
					letter-spacing: .5rem;
					display: inline-block;
				}
			}
		}
	}
	div.main{
		width: 100%;

		div.inner_container{
			@include container_sizing( 800px );
			padding: 70px 0;

			ul{
				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;

				li{
					border: 3px solid #2B3554;
					border-radius: 20px;
					width: 100%;
					margin: 20px 0;
					min-height: 350px;

					&.double{}
					div.illustraction{
						height: calc(100% - 103px);

						img{
							width: 100px;
							display: block;
							margin: 0 auto;
						}
					}
					div.header{
						min-height: 100px;
						border-top: 3px solid #2B3554;
						
						h4{
							display: none;
						}
						div.tags{
							display: none;
							span.tag{}
						}
					}
				}
			}
		}
	}
}

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){
	section.experiments{
		div.introduction{
			&:after{}
			div.inner_container{
				h1{}
			}
		}
		div.main{	
			div.inner_container{
				ul{
					justify-content: space-between;
	
					li{
						width: 45%;

						&.double{
							width: 100%;
						}
						div.illustraction{
							img{}
						}
						div.header{
							h4{}
							div.tags{
								span.tag{}
							}
						}
					}
				}
			}
		}
	}
}

/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){
	section.experiments{
		div.introduction{
			&:after{}
			div.inner_container{
				h1{}
			}
		}
		div.main{	
			div.inner_container{
				ul{	
					li{
						width: 31%;

						&.double{
							width: 65%;
						}
						div.illustraction{
							img{}
						}
						div.header{
							h4{}
							div.tags{
								span.tag{}
							}
						}
					}
				}
			}
		}
	}
}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}

/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}
