/* IMPORTS */
@import "../../../assets/styles/ui_mixines";

/*
    PHONE VERSION
*/
section.experiments{
	min-height: 100vh;

	div.modal_container{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 50;
		display: flex;
		justify-content: space-around;
		align-items: center;

		div.modal{
			background-color: #fff;
			@include container_sizing( 600px );
			border-radius: 4px;
			box-shadow: 0px 0px 0px rgba(#28313B, .6);
			z-index: 1;
			padding: 20px;
			

			div.header{
				overflow: auto;
				padding: 5px 0px 5px 0px;
				margin-bottom: 25px;

				h3{
					float: left;
					color: $dark_grey;
				}
				a.icon{
					float: right;
				}
			}
			div.body{
				div.illustration{
					width: 100%;
					height: 300px;
					background-size: cover;
					background-position: center center;
				}
				div.content{
					margin-top: 25px;
					
					p{
						 @include primary_text( $dark_grey ); 
					}
				}
			}
			div.footer{
				margin-top: 25px;
				overflow: auto;

				a.button{
					float: right;
					background-color: #F5F5F5;
					color: $dark_grey;
					padding: 12px;
					cursor: pointer;
					transition: all 200ms;

					&:hover{
						background-color: $dark_grey;
						color: white;
					}
				}
			}
		}
		div.dark_background{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(#28313B, .6);

		}
	}


	div.introduction{
		background: linear-gradient(to right, $light_yellow, $med_yellow);
		width: 100%;
		position: relative;
	
		&:after{
			content: "";
			position: absolute;
			bottom: 0px;
			left: calc(50vw - 4px);
			border-top: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #ffffff;
		}
		div.inner_container{
			@include container_sizing( 800px );
			padding: 10vh 0;

			h1{
				color: $white;
				font-size: 2rem;
				font-weight: 800; 
				text-align: center;
				overflow: hidden;

				span.letter{
					letter-spacing: .5rem;
					display: inline-block;
				}
			}
		}
	}
	div.main{
		width: 100%;

		div.inner_container{
			@include container_sizing( 800px );
			padding: 70px 0;

			ul{
				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;

				li, externalurl{
					max-width: 250px;
					border: 3px solid #2B3554;
					border-radius: 20px;
					width: 100%;
					margin: 20px 0;
					min-height: 350px;
					height: 100%;
					position: relative;
					cursor: pointer;

					&.double{}
					div.illustraction{
						height: 250px;
						display: flex;
						align-items: center;

						img{
							width: 70%;
							max-height: 260px;
							display: block;
							margin: 0 auto;
						}
					}
					div.header{
						bottom: 0;
						position: absolute;
						padding: 20px;
						border-top: 3px solid #2B3554;
						width: calc(100% - 40px);
						
						h4{
							color: #2B3554;
							font-size: 20px;

						}
						div.tags{
							margin-top: 12px;

							span.tag{
								color: white;
								background-color: #2B3554;
								margin: 4px;
								border-radius: 20px;
								padding: 2px 10px;
								font-size: 14px;
								word-break: keep-all;
								display: inline-block;

								&:first-child{ margin-left: 0; }
								&:last-child{ margin-right: 0; }
							}
						}
					}
				}
			}
		}
	}
}

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){
	section.experiments{
		div.introduction{
			&:after{}
			div.inner_container{
				h1{}
			}
		}
		div.main{	
			div.inner_container{
				ul{
					justify-content: space-between;
	
					li, externalurl{
						max-width: inherit;
						width: calc(47% - 6px);

						&.double{
							width: 100%;
						}
						div.illustraction{
							img{}
						}
						div.header{
							h4{}
							div.tags{
								span.tag{}
							}
						}
					}
				}
			}
		}
	}
}

/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){
	section.experiments{
		div.introduction{
			&:after{}
			div.inner_container{
				h1{}
			}
		}
		div.main{	
			div.inner_container{
				ul{	
					li, externalurl{
						width: 31%;

						&.double{
							width: 65%;
						}
						div.illustraction{
							img{}
						}
						div.header{
							h4{}
							div.tags{
								span.tag{}
							}
						}
					}
				}
			}
		}
	}
}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}

/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}
